# STAT29000 Project 3 Examples

In [1]:
import pandas as pd
import numpy as np

In [2]:
# read in the wine dataset
data = pd.read_csv("https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2019/2019-05-28/winemag-data-130k-v2.csv")

# get the first few values
data.head(3)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm

In [3]:
from pandas import read_csv

# works pretty much the same
data = read_csv("https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2019/2019-05-28/winemag-data-130k-v2.csv")

# see
data.head(3)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm

In [4]:
# let's make things a little more obvious
data.rename(columns={'province':'location'}, inplace=True)

# much better
data.head(3)

# lets do this too
data.rename(columns={'Unnamed: 0':'wine_id'}, inplace=True)

In [5]:
# what do the points look like again?
data['points'].describe()

count    129971.000000
mean         88.447138
std           3.039730
min          80.000000
25%          86.000000
50%          88.000000
75%          91.000000
max         100.000000
Name: points, dtype: float64

In [6]:
# thats interesting lets write a function that accepts a wine id
# and returns the normalized point score. Let's pass the data
# to the function as well.
def normalized_points(data, wine_id):
    stats = data['points'].describe()
    numerator = data['points'].loc[data['wine_id']==wine_id] - stats['min']
    denominator = stats['max'] - stats['min']
    return numerator / denominator

print(normalized_points(data, 0))
normalized_points(data, 100)

0    0.35
Name: points, dtype: float64

100    0.4
Name: points, dtype: float64

In [7]:
# are there any wines from Indiana?
data[data['location']=="Indiana"]

# not in this list

Empty DataFrame
Columns: [wine_id, country, description, designation, points, price, location, region_1, region_2, taster_name, taster_twitter_handle, title, variety, winery]
Index: []

In [8]:
# let's write a function that returns the wine_id of 
# every smooth wine: wines with points > 95
# or ( | means or, & means and ) ones described as such
def smooth_wines():
    # assuming data is available in the scope of this function
    return data['wine_id'][(data['points']>95) | (data['description'].str.contains('smooth'))].to_list()
    
smooth_wines()

[1,
 25,
 38,
 66,
 104,
 126,
 127,
 137,
 183,
 188,
 203,
 208,
 272,
 284,
 294,
 312,
 325,
 332,
 334,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 362,
 390,
 396,
 411,
 419,
 443,
 465,
 481,
 486,
 517,
 533,
 536,
 546,
 571,
 635,
 646,
 658,
 667,
 678,
 713,
 719,
 784,
 801,
 806,
 894,
 915,
 921,
 923,
 935,
 940,
 942,
 944,
 954,
 964,
 1008,
 1010,
 1035,
 1044,
 1056,
 1097,
 1119,
 1157,
 1187,
 1192,
 1203,
 1204,
 1220,
 1232,
 1239,
 1326,
 1397,
 1406,
 1439,
 1478,
 1496,
 1513,
 1516,
 1524,
 1529,
 1542,
 1552,
 1556,
 1557,
 1558,
 1559,
 1560,
 1561,
 1562,
 1563,
 1564,
 1565,
 1566,
 1567,
 1568,
 1569,
 1570,
 1571,
 1572,
 1573,
 1574,
 1575,
 1576,
 1577,
 1578,
 1603,
 1643,
 1663,
 1676,
 1688,
 1693,
 1694,
 1695,
 1701,
 1715,
 1726,
 1740,
 1756,
 1792,
 1860,
 1872,
 1878,
 1884,
 1885,
 1903,
 1945,
 1954,
 1960,
 1999,
 2015,
 2044,
 2047,
 2072,
 2074,
 2083,
 2084,
 2085,
 2090,
 2098,
 2102,
 2104,
 2106,
 2152,
 2158,
 2222,
 2245,
 2247,
 2255,
 2278,
 2309,
 2344,
 2345,
 2346,
 2347,
 2357,
 2360,
 2382,
 2389,
 2422,
 2448,
 2473,
 2475,
 2552,
 2582,
 2606,
 2634,
 2646,
 2648,
 2649,
 2652,
 2654,
 2665,
 2668,
 2693,
 2695,
 2735,
 2764,
 2765,
 2792,
 2828,
 2841,
 2860,
 2867,
 2870,
 2909,
 2952,
 2953,
 2975,
 2979,
 3004,
 3031,
 3039,
 3061,
 3079,
 3084,
 3091,
 3095,
 3096,
 3113,
 3142,
 3147,
 3160,
 3162,
 3180,
 3185,
 3197,
 3217,
 3221,
 3233,
 3238,
 3249,
 3256,
 3264,
 3300,
 3316,
 3318,
 3327,
 3371,
 3384,
 3401,
 3403,
 3449,
 3463,
 3500,
 3503,
 3506,
 3526,
 3536,
 3557,
 3563,
 3564,
 3566,
 3567,
 3574,
 3575,
 3580,
 3642,
 3643,
 3644,
 3658,
 3722,
 3748,
 3757,
 3759,
 3795,
 3797,
 3805,
 3807,
 3823,
 3841,
 3843,
 3847,
 3852,
 3857,
 3977,
 3991,
 4016,
 4021,
 4035,
 4068,
 4111,
 4162,
 4197,
 4213,
 4243,
 4256,
 4345,
 4363,
 4367,
 4388,
 4392,
 4396,
 4397,
 4398,
 4409,
 4435,
 4451,
 4459,
 4499,
 4501,
 4502,
 4503,
 4504,
 4505,
 4506,
 4507,
 4508,
 4509,
 4510,
 4511,
 4512,
 4513,
 4583,
 4596,
 4621,
 4631,
 4650,
 4666,
 4685,
 4697,
 4699,
 4731,
 4759,
 4768,
 4771,
 4784,
 4785,
 4807,
 4842,
 4896,
 4905,
 4916,
 5010,
 5021,
 5025,
 5029,
 5039,
 5040,
 5072,
 5090,
 5092,
 5149,
 5197,
 5198,
 5248,
 5253,
 5304,
 5319,
 5327,
 5357,
 5374,
 5427,
 5432,
 5446,
 5449,
 5516,
 5537,
 5563,
 5579,
 5596,
 5603,
 5617,
 5628,
 5653,
 5690,
 5699,
 5705,
 5719,
 5720,
 5722,
 5756,
 5762,
 5763,
 5789,
 5801,
 5805,
 5826,
 5834,
 5835,
 5849,
 5856,
 5858,
 5860,
 5910,
 5911,
 5917,
 5931,
 5932,
 5954,
 5959,
 5973,
 5987,
 6003,
 6015,
 6025,
 6032,
 6039,
 6044,
 6049,
 6068,
 6089,
 6105,
 6108,
 6133,
 6151,
 6155,
 6169,
 6190,
 6195,
 6196,
 6233,
 6335,
 6341,
 6345,
 6350,
 6352,
 6357,
 6364,
 6381,
 6390,
 6399,
 6423,
 6424,
 6425,
 6426,
 6427,
 6428,
 6432,
 6433,
 6437,
 6443,
 6446,
 6478,
 6479,
 6564,
 6576,
 6595,
 6603,
 6623,
 6636,
 6638,
 6645,
 6650,
 6653,
 6654,
 6660,
 6680,
 6684,
 6686,
 6696,
 6697,
 6725,
 6738,
 6746,
 6753,
 6758,
 6771,
 6782,
 6800,
 6802,
 6812,
 6827,
 6833,
 6846,
 6925,
 6929,
 6960,
 6964,
 7002,
 7008,
 7014,
 7020,
 7097,
 7105,
 7106,
 7164,
 7168,
 7169,
 7174,
 7206,
 7232,
 7266,
 7275,
 7281,
 7310,
 7335,
 7336,
 7357,
 7368,
 7373,
 7384,
 7428,
 7521,
 7523,
 7549,
 7551,
 7552,
 7561,
 7603,
 7605,
 7606,
 7616,
 7627,
 7677,
 7685,
 7690,
 7700,
 7704,
 7706,
 7719,
 7725,
 7749,
 7755,
 7779,
 7788,
 7832,
 7889,
 7896,
 7900,
 7922,
 7940,
 7973,
 7980,
 7989,
 8021,
 8074,
 8075,
 8084,
 8088,
 8093,
 8162,
 8186,
 8188,
 8190,
 8198,
 8204,
 8210,
 8228,
 8237,
 8238,
 8253,
 8259,
 8328,
 8344,
 8358,
 8421,
 8425,
 8444,
 8453,
 8468,
 8478,
 8502,
 8512,
 8525,
 8526,
 8530,
 8572,
 8575,
 8576,
 8593,
 8597,
 8600,
 8606,
 8614,
 8626,
 8632,
 8636,
 8673,
 8703,
 8730,
 8743,
 8747,
 8778,
 8779,
 8789,
 8790,
 8791,
 8805,
 8865,
 8887,
 8899,
 8902,
 8939,
 8947,
 8954,
 8969,
 8989,
 8997,
 9007,
 9020,
 9029,
 9058,
 9063,
 9066,
 9069,
 9085,
 9104,
 9105,
 9107,
 9108,
 9125,
 9133,
 9135,
 9155,
 9166,
 9172,
 9189,
 9245,
 9283,
 9287,
 9325,
 9392,
 9397,
 9469,
 9479,
 9496,
 9569,
 9575,
 9598,
 9608,
 9621,
 9637,
 9651,
 9668,
 9673,
 9742,
 9755,
 9764,
 9765,
 9788,
 9816,
 9831,
 9839,
 9897,
 9898,
 9899,
 9900,
 9901,
 9902,
 9903,
 9904,
 9905,
 9906,
 9922,
 9933,
 9949,
 9973,
 9979,
 9992,
 10000,
 10001,
 10010,
 10046,
 10051,
 10054,
 10085,
 10098,
 10174,
 10186,
 10189,
 10213,
 10239,
 10243,
 10275,
 10282,
 10298,
 10301,
 10338,
 10345,
 10379,
 10402,
 10432,
 10435,
 10441,
 10443,
 10452,
 10493,
 10515,
 10529,
 10537,
 10556,
 10558,
 10593,
 10596,
 10599,
 10602,
 10606,
 10648,
 10732,
 10745,
 10748,
 10757,
 10759,
 10775,
 10787,
 10792,
 10808,
 10818,
 10827,
 10855,
 10857,
 10858,
 10866,
 10883,
 10886,
 10892,
 10900,
 10906,
 10910,
 10930,
 10945,
 10953,
 10968,
 10980,
 11002,
 11012,
 11016,
 11024,
 11088,
 11089,
 11109,
 11124,
 11144,
 11179,
 11186,
 11187,
 11199,
 11200,
 11202,
 11230,
 11270,
 11281,
 11376,
 11387,
 11391,
 11400,
 11412,
 11420,
 11434,
 11439,
 11455,
 11464,
 11481,
 11498,
 11506,
 11508,
 11510,
 11514,
 11551,
 11564,
 11572,
 11584,
 11622,
 11745,
 11758,
 11795,
 11848,
 11871,
 11906,
 11918,
 11956,
 11958,
 11962,
 11964,
 11966,
 11970,
 11999,
 12038,
 12081,
 12157,
 12211,
 12212,
 12218,
 12242,
 12247,
 12249,
 12275,
 12284,
 12297,
 12303,
 12314,
 12322,
 12340,
 12390,
 12398,
 12399,
 12405,
 12442,
 12507,
 12510,
 12531,
 12568,
 12579,
 12605,
 12606,
 12626,
 12636,
 12717,
 12741,
 12782,
 12786,
 12792,
 12819,
 12869,
 12876,
 12892,
 12902,
 12903,
 12921,
 12922,
 12935,
 12978,
 12981,
 13041,
 13064,
 13120,
 13122,
 13129,
 13134,
 13136,
 13138,
 13175,
 13181,
 13227,
 13233,
 13248,
 13292,
 13316,
 13326,
 13335,
 13336,
 13365,
 13366,
 13376,
 13382,
 13392,
 13402,
 13427,
 13442,
 13446,
 13452,
 13459,
 13482,
 13489,
 13512,
 13534,
 13537,
 13538,
 13539,
 13541,
 13544,
 13581,
 13590,
 13598,
 13652,
 13672,
 13686,
 13697,
 13724,
 13741,
 13747,
 13749,
 13759,
 13820,
 13842,
 13860,
 13878,
 13899,
 13926,
 13935,
 13950,
 13960,
 13975,
 13977,
 13991,
 14019,
 14032,
 14055,
 14088,
 14109,
 14119,
 14120,
 14135,
 14137,
 14180,
 14184,
 14192,
 14199,
 14228,
 14250,
 14264,
 14308,
 14344,
 14345,
 14346,
 14347,
 14348,
 14356,
 14358,
 14389,
 14443,
 14454,
 14460,
 14483,
 14506,
 14518,
 14528,
 14530,
 14535,
 14559,
 14582,
 14597,
 14613,
 14621,
 14633,
 14661,
 14677,
 14711,
 14742,
 14756,
 14762,
 14807,
 14821,
 14825,
 14854,
 14913,
 14931,
 14942,
 14943,
 14988,
 14991,
 15008,
 15014,
 15018,
 15039,
 15078,
 15081,
 15096,
 15107,
 15127,
 15141,
 15168,
 15189,
 15191,
 15196,
 15228,
 15244,
 15290,
 15301,
 15309,
 15330,
 15365,
 15386,
 15418,
 15422,
 15427,
 15444,
 15461,
 15479,
 15482,
 15484,
 15488,
 15502,
 15503,
 15546,
 15582,
 15633,
 15636,
 15639,
 15640,
 15662,
 15678,
 15724,
 15728,
 15737,
 15743,
 15745,
 15789,
 15831,
 15832,
 15833,
 15834,
 15835,
 15836,
 15837,
 15838,
 15839,
 15840,
 15841,
 15842,
 15843,
 15844,
 15845,
 15846,
 15847,
 15848,
 15849,
 15850,
 15851,
 15852,
 15853,
 15854,
 15855,
 15856,
 15857,
 15858,
 15859,
 15860,
 15928,
 15949,
 15958,
 ...]

In [9]:
# a useful trick sometimes
import string
print(string.ascii_letters)
print(list(string.ascii_letters))
set.intersection(set(string.ascii_letters), set(string.hexdigits))

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

{'A', 'B', 'C', 'D', 'E', 'F', 'a', 'b', 'c', 'd', 'e', 'f'}

In [10]:
# lets write a function that returns a dict of country: list(variety)
from collections import defaultdict
def afunction():
    result = defaultdict()
    for idx, row in data.iterrows():
        # the get() method will return None if the key doesn't exist
        if result.get(row[1]):
            result[row[1]].append(row[len(row)-1])
        else:
            result[row[1]] = [row[len(row)-1]]
        
    return dict(result)

wines = afunction()

In [20]:
big_wines = [str(key).upper() for key, value in wines.items()]
big_wines

# with any sort of tuple or list result you can separate parts of the result 
# into different variables

# here, we are packing values into big_wines
sample_wine, *big_wines = [str(key).upper() for key, value in wines.items()]

print(f'Our sample: {sample_wine}')
print(f'The rest: {big_wines}')

sample_wine, *big_wines, last_wine = [str(key).upper() for key, value in wines.items()]

print(f'Our sample: {sample_wine}')
print(f'The rest: {big_wines}')
print(f'Last wine: {last_wine}')

# similarly, unpacking values is when you take a list or tuple and 
# separate it into individual arguments, look at the difference
print(*big_wines)
print(big_wines)

Our sample: ITALY
The rest: ['PORTUGAL', 'US', 'SPAIN', 'FRANCE', 'GERMANY', 'ARGENTINA', 'CHILE', 'AUSTRALIA', 'AUSTRIA', 'SOUTH AFRICA', 'NEW ZEALAND', 'ISRAEL', 'HUNGARY', 'GREECE', 'ROMANIA', 'MEXICO', 'CANADA', 'NAN', 'TURKEY', 'CZECH REPUBLIC', 'SLOVENIA', 'LUXEMBOURG', 'CROATIA', 'GEORGIA', 'URUGUAY', 'ENGLAND', 'LEBANON', 'SERBIA', 'BRAZIL', 'MOLDOVA', 'MOROCCO', 'PERU', 'INDIA', 'BULGARIA', 'CYPRUS', 'ARMENIA', 'SWITZERLAND', 'BOSNIA AND HERZEGOVINA', 'UKRAINE', 'SLOVAKIA', 'MACEDONIA', 'CHINA', 'EGYPT']
Our sample: ITALY
The rest: ['PORTUGAL', 'US', 'SPAIN', 'FRANCE', 'GERMANY', 'ARGENTINA', 'CHILE', 'AUSTRALIA', 'AUSTRIA', 'SOUTH AFRICA', 'NEW ZEALAND', 'ISRAEL', 'HUNGARY', 'GREECE', 'ROMANIA', 'MEXICO', 'CANADA', 'NAN', 'TURKEY', 'CZECH REPUBLIC', 'SLOVENIA', 'LUXEMBOURG', 'CROATIA', 'GEORGIA', 'URUGUAY', 'ENGLAND', 'LEBANON', 'SERBIA', 'BRAZIL', 'MOLDOVA', 'MOROCCO', 'PERU', 'INDIA', 'BULGARIA', 'CYPRUS', 'ARMENIA', 'SWITZERLAND', 'BOSNIA AND HERZEGOVINA', 'UKRAINE', 'SLOVAKIA', 'MACEDONIA', 'CHINA']
Last wine: EGYPT
PORTUGAL US SPAIN FRANCE GERMANY ARGENTINA CHILE AUSTRALIA AUSTRIA SOUTH AFRICA NEW ZEALAND ISRAEL HUNGARY GREECE ROMANIA MEXICO CANADA NAN TURKEY CZECH REPUBLIC SLOVENIA LUXEMBOURG CROATIA GEORGIA URUGUAY ENGLAND LEBANON SERBIA BRAZIL MOLDOVA MOROCCO PERU INDIA BULGARIA CYPRUS ARMENIA SWITZERLAND BOSNIA AND HERZEGOVINA UKRAINE SLOVAKIA MACEDONIA CHINA
['PORTUGAL', 'US', 'SPAIN', 'FRANCE', 'GERMANY', 'ARGENTINA', 'CHILE', 'AUSTRALIA', 'AUSTRIA', 'SOUTH AFRICA', 'NEW ZEALAND', 'ISRAEL', 'HUNGARY', 'GREECE', 'ROMANIA', 'MEXICO', 'CANADA', 'NAN', 'TURKEY', 'CZECH REPUBLIC', 'SLOVENIA', 'LUXEMBOURG', 'CROATIA', 'GEORGIA', 'URUGUAY', 'ENGLAND', 'LEBANON', 'SERBIA', 'BRAZIL', 'MOLDOVA', 'MOROCCO', 'PERU', 'INDIA', 'BULGARIA', 'CYPRUS', 'ARMENIA', 'SWITZERLAND', 'BOSNIA AND HERZEGOVINA', 'UKRAINE', 'SLOVAKIA', 'MACEDONIA', 'CHINA']

In [12]:
# in pandas, if a function has an argument called "inplace", you can run the function inplace, 
# which means you can just call the function and the data will be changed, you don't have to 
# re-assign the part of the data you are changing. 
dat = {'col1': [1, 2], 'col2': [3, np.nan]}
df = pd.DataFrame(data=dat)

# this will not change df
df.dropna()
df

# this will change the data
df = df.dropna()

# reset
dat = {'col1': [1, 2], 'col2': [3, np.nan]}
df = pd.DataFrame(data=dat)

# this will also change the data
df.dropna(inplace=True)
df

   col1  col2
0     1   3.0